.botonColor {
    --background: #FF7E00;
    font-size: 20px;
}

.botonColorLogin {
    --background: #FF8C19;
}

.botonColorUnirse {
    --background: #0088B3;
}

p {
    margin-left: 30px;
    margin-top: 0;
  }